In [49]:
import pandas as pd
import numpy as np

In [50]:
df_entre = pd.read_csv('../data/films_entree.csv')
df_movie = pd.read_csv('../data/films_api.csv')

In [51]:
df_entre
# enleve la colonne id
df_entre = df_entre.drop(columns=['id'])

In [52]:
df_movie

,titre_fr,realisateur,acteurs,genres,budget,date_sortie,compagnies_production
0,Pretty Woman,Garry Marshall,"['Richard Gere', 'Julia Roberts', 'Ralph Bella...","['Comédie', 'Romance']",14000000,1990-11-28,"['Touchstone Pictures', 'Silver Screen Partner..."
1,Les Affranchis,Martin Scorsese,"['Ray Liotta', 'Robert De Niro', 'Joe Pesci', ...","['Drame', 'Crime']",25000000,1990-09-12,['Winkler Films']
2,Edward aux mains d'argent,Tim Burton,"['Johnny Depp', 'Winona Ryder', 'Dianne Wiest'...","['Fantastique', 'Drame', 'Romance']",20000000,1991-04-10,['20th Century Fox']
3,"Le Parrain, 3e partie",Francis Ford Coppola,"['Al Pacino', 'Diane Keaton', 'Talia Shire', '...","['Crime', 'Drame', 'Thriller']",54000000,2020-12-07,"['Paramount', 'American Zoetrope']"
4,Ghost,Jerry Zucker,"['Patrick Swayze', 'Demi Moore', 'Whoopi Goldb...","['Fantastique', 'Drame', 'Thriller', 'Mystère'...",22000000,1990-11-07,['Paramount']
...,...,...,...,...,...,...,...
6240,Chasse gardée,Frédéric Forestier,"['Hakim Jemili', 'Camille Lou', 'Didier Bourdo...",['Comédie'],9827000,2023-12-20,"['Curiosa Films', 'Pictanovo', 'Starman Films'..."
6241,Avant l'effondrement,Alice Zeniter,"['Niels Schneider', 'Ariane Labed', 'Souheila ...",['Drame'],2400000,2023-04-19,"['Elzévir Films', 'Après le Déluge', 'France 2..."
6242,Le Syndrome des amours passées,Raphaël Balboni,"['Lucie Debay', 'Lazare Gousseau', 'Nora Hamza...","['Comédie', 'Romance', 'Fantastique']",2000000,2023-10-25,"['Hélicotronc', 'Tripode Productions']"
6243,Déserts,Faouzi Bensaïdi,"['Fehd Benchemsi', 'Abdelhadi Talbi', 'Hajar G...",['Drame'],1750000,2023-09-20,"['Barney Production', 'Mont Fleuri Production'..."
6244,Le consentement,Vanessa Filho,"['Kim Higelin', 'Jean-Paul Rouve', 'Sara Girau...","['Drame', 'Histoire']",3700000,2023-10-11,"['Moana Films', 'Windy Production', 'Panache P..."

In [53]:
# Convertir les colonnes de date en datetime
df_entre['date'] = pd.to_datetime(df_entre['date'])
df_movie['date_sortie'] = pd.to_datetime(df_movie['date_sortie'])

# Puis compter le nombre de films en 2005
df_entre_2005 = df_entre[df_entre['date'].dt.year == 2014]
print(f"Nombre de films en 2005 dans df_entre : {len(df_entre_2005)}")

df_movie_2005 = df_movie[df_movie['date_sortie'].dt.year == 2014]
print(f"Nombre de films en 2005 dans df_movie : {len(df_movie_2005)}")

Nombre de films en 2005 dans df_entre : 664
Nombre de films en 2005 dans df_movie : 250

In [54]:
df_entre[df_entre['title'] == "Star Wars - Le Réveil de la Force"]

                                  title  entries       date
4880  Star Wars - Le Réveil de la Force  3801235 2015-12-16

In [55]:
df_movie[df_movie['titre_fr'] == "Star Wars : Le Réveil de la Force"]

,titre_fr,realisateur,acteurs,genres,budget,date_sortie,compagnies_production
4296,Star Wars : Le Réveil de la Force,J.J. Abrams,"['Harrison Ford', 'Mark Hamill', 'Carrie Fishe...","['Aventure', 'Action', 'Science-Fiction']",245000000,2015-12-16,"['Lucasfilm Ltd.', 'Bad Robot']"

In [56]:
# enleve les : et les espaces
df_entre['title'] = df_entre['title'].str.replace(':', '')
df_movie['titre_fr'] = df_movie['titre_fr'].str.replace(':', '')
# enleve les espaces en trop de tous
df_entre['title'] = df_entre['title'].str.replace(' ', '')
df_movie['titre_fr'] = df_movie['titre_fr'].str.replace(' ', '')
#met tous en minuscule
df_entre['title'] = df_entre['title'].str.lower()
df_movie['titre_fr'] = df_movie['titre_fr'].str.lower()
# enleve les accents titre
df_entre['title'] = df_entre['title'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df_movie['titre_fr'] = df_movie['titre_fr'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
# enleve l'accent '
df_entre['title'] = df_entre['title'].str.replace("'", '')
df_movie['titre_fr'] = df_movie['titre_fr'].str.replace("'", '')
# enleve virgurle
df_entre['title'] = df_entre['title'].str.replace(",", '')
df_movie['titre_fr'] = df_movie['titre_fr'].str.replace(",", '')
#enleve tiret
df_entre['title'] = df_entre['title'].str.replace("-", '')
df_movie['titre_fr'] = df_movie['titre_fr'].str.replace("-", '')

In [57]:
#enleve les espaces tous les espaces
df_entre['title'] = df_entre['title'].str.replace(" ", '')
df_movie['titre_fr'] = df_movie['titre_fr'].str.replace(" ", '')

In [58]:
df_entre[df_entre['title'] == 'starwarslereveildelaforce']

                          title  entries       date
4880  starwarslereveildelaforce  3801235 2015-12-16

In [59]:
df_movie[df_movie['titre_fr'] == 'starwarslereveildelaforce']

,titre_fr,realisateur,acteurs,genres,budget,date_sortie,compagnies_production
4296,starwarslereveildelaforce,J.J. Abrams,"['Harrison Ford', 'Mark Hamill', 'Carrie Fishe...","['Aventure', 'Action', 'Science-Fiction']",245000000,2015-12-16,"['Lucasfilm Ltd.', 'Bad Robot']"

In [60]:
# Renommer les colonnes de df2 pour correspondre à celles de df1
df2 = df_movie.rename(columns={'titre_fr': 'title', 'date_sortie': 'date'})

In [61]:
# Fusionner les deux dataframes sur le titre et la date
df = pd.merge(df_entre, df2, on=['title', 'date'])

# Calculer le nombre de films qui n'ont pas pu être fusionnés
num_unmerged = len(df_entre) + len(df2) - len(df)

print(f"Nombre de films qui n'ont pas pu être fusionnés : {num_unmerged}")

Nombre de films qui n'ont pas pu être fusionnés : 13399

In [62]:
df

,title,entries,date,realisateur,acteurs,genres,budget,compagnies_production
0,madagascar,874013,2005-06-22,Eric Darnell,"['Ben Stiller', 'Chris Rock', 'David Schwimmer...","['Familial', 'Animation', 'Aventure', 'Comédie']",75000000,"['DreamWorks Pictures', 'Pacific Data Images',..."
1,babel,200643,2006-11-15,Alejandro González Iñárritu,"['Brad Pitt', 'Cate Blanchett', 'Gael García B...",['Drame'],25000000,"['Babel Productions Inc.', 'Paramount', 'Param..."
2,atlantidelempireperdu,1148273,2001-11-28,Gary Trousdale,"['Michael J. Fox', 'Cree Summer', 'James Garne...","['Animation', 'Familial', 'Aventure', 'Science...",120000000,"['Walt Disney Pictures', 'Walt Disney Feature ..."
3,next,262793,2007-04-25,Lee Tamahori,"['Nicolas Cage', 'Julianne Moore', 'Jessica Bi...","['Action', 'Science-Fiction', 'Thriller']",70000000,"['Virtual Studios', 'Revolution Studios', 'Sat..."
4,delicieux,130477,2021-09-08,Éric Besnard,"['Isabelle Carré', 'Grégory Gadebois', 'Benjam...","['Histoire', 'Drame']",5000000,"['Nord-Ouest Films', 'SND', 'France 3 Cinéma',..."
...,...,...,...,...,...,...,...,...
2741,lafemmedufossoyeur,842,2022-04-27,Khadar Ayderus Ahmed,"['Omar Abdi', 'Yasmin Warsame', 'Kadar Adboul-...",['Drame'],1300000,"['Bufo', 'Pyramide Productions', 'Twenty Twent..."
2742,jumeauxmaispastrop,210444,2022-09-28,Wilfried Méance,"['Ahmed Sylla', 'Bertrand Usclat', 'Pauline Cl...",['Comédie'],6200000,['Nac Films']
2743,piggy,208,2022-11-02,Carlota Pereda,"['Laura Galán', 'Richard Holmes', 'Carmen Mach...","['Horreur', 'Thriller', 'Drame']",2400000,"['Morena Films', 'Backup Media', 'Cerdita AIE']"
2744,sisudeloretdusang,44625,2023-06-21,Jalmari Helander,"['Jorma Tommila', 'Aksel Hennie', 'Jack Doolan...","['Action', 'Guerre']",6200000,"['Subzero Film Entertainment', 'Good Chaos', '..."
2745,lacourdesmiracles,20495,2022-09-28,Carine May,"['Rachida Brakni', 'Anaïde Rozam', ""Sérigne M'...",['Comédie'],3800000,"['France 2', 'France Télévisions', 'Haut et Co..."

In [63]:
# enregistre le fichier csv
df.to_csv('../data/films_final_fr.csv', index=False)